@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Group Paint</title>
    <link href="~/style.css" rel="stylesheet" />
</head>
<body>
    <div id="main">
        <div id="colorPalette">
            <div class="brushColor selectedColor" style="background-color: black"></div>
            <div class="brushColor" style="background-color: white"></div>
            <div class="brushColor" style="background-color: red"></div>
            <div class="brushColor" style="background-color: blue"></div>
            <div class="brushColor" style="background-color: green"></div>
            <div class="brushColor" style="background-color: yellow"></div>
        </div>
        <div id="canvas">
            <table>
                @for (var row = 0; row < 50; row++)
                {
                    <tr>
                        @for (var col = 0; col < 50; col++)
                        {
                            <td class="pixel blank" data-row="@row" data-col="@col"></td>
                        }
                    </tr>}
            </table>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/script.js"></script>
</body>
</html>