@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Group Paint</title>
    <link href="style.css" rel="stylesheet" />
</head>
<body>
    <div id="main">
        <div id="colorPalette">
            <div id="blackBrush" class="brushColor selectedColor"></div>
            <div id="whiteBrush" class="brushColor"></div>
            <div id="redBrush" class="brushColor"></div>
            <div id="blueBrush" class="brushColor"></div>
            <div id="greenBrush" class="brushColor"></div>
        </div>
        <div id="canvas">
            <table>
                @for (var row = 0; row < 100; row++)
                {
                    <tr>
                        @for (var col = 0; col < 100; col++)
                        {
                            <td class="pixel blank" data-row="@row" data-col="@col"></td>
                        }
                    </tr>}
            </table>
        </div>
    </div>

    <script src="Scripts/jquery-3.1.1.js"></script>
    <script src="script.js"></script>
</body>
</html>